body
{
	background: #303030;
}

#content
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#spinner
{
	background-color: #c6c6c6;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	display: none;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 5px;
	width: 60px;
	z-index: 1;

	position: absolute;
	top: 50%;
	left: 50%;
}

#gallery
{
	-webkit-perspective: 800;
	-moz-perspective: 800;
	perspective: 800;

	opacity: 0;
	overflow: hidden;
	margin: 0 auto;

	.tile
	{
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		
		-webkit-transition: -webkit-transform 1s;
		-moz-transition: -moz-transform 1s;
		transition: transform 1s;

		float: left;
		height: 150px;
		position: relative;
		width: 150px;

		&.flipped
		{
			-webkit-transform: rotateY(-180deg);
			-moz-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
		}

		.front,
		.back
		{
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;

			height: 100%;
			position: absolute;
			width: 100%;

			img
			{
				height: 150px;
				width: 150px;
			}
		}

		.front
		{
			img
			{
				opacity: 0.5;
				transition: opacity 0.5s; 

				&:hover
				{
					opacity: 1;
				}
			}
		}

		.back
		{
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			transform: rotateY(180deg);

			background-repeat: no-repeat;
		}
	}
}